.vs/
#BasicInterfaceComponentsWF/obj/
#BasicInterfaceComponentsWF/BasicInterfaceComponentsWF.csproj
#BasicInterfaceComponentsWF/App.config
#BasicInterfaceComponentsWF/Properties
#BasicInterfaceComponentsWF/bin